- name: Update apt cache 
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic tools
  apt:
    name:
      - vim 
      - curl
      - git
      - htop
      - net-tools
    state: present
    