- name: Install tools untuk docker
  apt: 
    name: 
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
    state: present

- name: Add Docker GPG key
  apt_key: 
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Install Docker Engine
  apt: 
    name: 
      - docker-cli
      - docker-ce-cli
      - docker-compose 
      - containerd.io
    state: present
    update_cache: yes

- name: Ensure Docker is running 
  service: 
    name: docker
    state: started 
    enabled: yes

- name: add current user to docker group
  user:
    name: "{{ user_1 }}"
    groups: docker
    append: yes
    