- name: Allow ssh
  ufw:
    rule: allow 
    port: '22'
    proto: tcp

- name: Allow HTTP (port 80)
  ufw: 
    rule: allow 
    port: '80'
    proto: tcp

- name: Enable ufw 
  ufw: 
    state: enabled 
    policy: deny 

- name: Disable password authentication (hanya izinkan ssh key)
  lineinfile: 
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: Restart SSH 

  # Handler 
- name: Restart SSH Service 
  service: 
    name: ssh
    state: restarted 
  # Trick supaya task ini hanya di panggil notify
  listen: Restart SSH