<!DOCTYPE html>
<html>
<head>
    <title>Learning Ansible Roles</title>
</head>
<body>
    <h1>Succesfulyy learning Ansible Roles</h1>
    <p>This server managed using Ansible Roles v2</p>
    <p>Congratulations!!</p>
</body>
</html>